.drop-section{  
    border:2px solid green;
    width:200px; 
    height:400px;
    margin-left: 10px;
}
.section-title{
    padding: 0 50px;
    border-bottom:2px solid green; ;
}
.drag-section{

}
.form{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}
.form-title{
    padding: 5px;
    font-size: 1.2em;
    margin-top: 5px;
}
.form-select{
    margin-top: 5px;
    padding: 10px;
    font-size: 1.2em;
}
.form-submit{
    margin-top: 5px;
    padding: 5px;
    font-size: 1.2em;   
}

.isover-vegetable{
    background-color: beige;
}

.isover-fruit{
    background-color: bisque;
}

.isover-drink{
    background-color: azure;
}

.drop-item{
    padding:0 5px;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.item{
    padding:5px;
    border: 1px solid red;
    width:200px;
}